nav {
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Align items to left and right */
    align-items: center;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

nav li {
    float: left;
}

nav li a {
    display: inline;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #f48be9;
}

header {
    background-color: #932525;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
    right: 10px;
    margin-top:1em;
    font-size:1em;
    font-weight:400;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
}
.search {
    display: flex; /* Use flexbox for horizontal layout */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px;
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    width: 200px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* #story-results  */
    /* Style for displaying story results */
/* 
.search [type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none; 
}  */
/* 
button[type="submit"] {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 15px;
    cursor: pointer;
} */
/* 
button[type="submit"] i {
    font-size: 16px;
} */