.story_header {
    padding-top: 50px;
    margin: 10px;
    margin-left: 112px;
    margin-bottom: -2px;
}

.story-container {
    text-align: center;
    margin: 20px;
    margin-left: px;
    margin-top: -2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}


.story-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.story-card {
    display: inline-block;
    width: 200px;
    margin: 20px;
    text-align: center;
}

.story-card img {
    width: 100%;
    height: 90%;
    /* object-fit: cover; */
    border-radius: 5px;
}

.story-card h3 {
    margin: 10px 0;
}

.story-card p {
    margin: 5px 0;
}

.story-card a {
    display: outside;
    padding: 5px 10px;
    /* background-color: #007bff; */
    color: #fff;
    text-decoration: none;
    /* border-radius: 5px; */
}

.cover-picture {
    padding-left:30px;
}
.title1 {
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}
